<ul id="recent-items">
<TMPL_LOOP Items>
<li>
<img class="avatar" src="/_static/<TMPL_VAR channel_face ESCAPE="HTML">" width="14" height="14" alt="<TMPL_VAR channel_title_plain ESCAPE="HTML"> icon" />
<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR date>: <TMPL_VAR title></a>
</li>
</TMPL_LOOP>
</ul>
