<div class="fetched-news">

<TMPL_LOOP Items>

<div class="news-item">
<div class="title"><a href="<TMPL_VAR link>"><TMPL_VAR title></a></div>
<div class="author"><TMPL_VAR author></div>
<div class="date"><TMPL_VAR date></div>
<div class="content"><TMPL_VAR content></div>
</div>

</TMPL_LOOP>

</div>
