#products_example {
	width:600px;
	height:282px;
	position:relative;
}

/*
	Slideshow
*/

#products {
	margin-left:26px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

#products .slides_container {
	width:366px;
	overflow:hidden;
	float:left;
	position:relative;
	border:1px solid #dfdfdf;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:366px;
	height:274px;
	display:block;
}

/*
	Next/prev buttons
*/

#products .next,#products .prev {
	position:absolute;
	top:127px;
	left:0;
	width:21px;
	height:0;
	padding-top:21px;
	overflow:hidden;
	display:block;
	z-index:101;
}

#products .prev {
	background:url(../img/arrow-prev.png);
}

#products .next {
	left:398px;
	background:url(../img/arrow-next.png);
}