#products_example {
	width:400px;
	height:282px;
	position:relative;
	float:right;
}

/*
	Slideshow
*/

#products {
	margin-left:26px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

#products .slides_container {
	width:366px;
	overflow:hidden;
	float:left;
	position:relative;
	border:1px solid #dfdfdf;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:366px;
	height:274px;
	display:block;
}